<div class="jumbotron">
  <div class="container text-middle page-header">
    <div class="container">
      <h1> Add new User</h1>
    </div>
    <div class="container">
      <%= render 'edit_form' %>
    </div>
  </div>
</div>
