
<div class="container ">
    <div class=" text-middle page-header">
      <h2>Welcome to SettleUp</h2>
      <p>Welcome to SettleUp, Manage your bills, Fetch reports and pay bills to your friends </p>
  </div>
</div>
